* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
section {
  text-align: center;
}
h1,
h2,
h3,
h4 {
  font-family: "Yeseva One", serif;
  text-transform: uppercase;
  font-weight: 400;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
}
a:hover {
  color: #e3b873;
}
/* GENERAL================================================================================= */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.button {
  font-family: "Nunito Sans", sans-serif;
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  outline: 0;
  border: 0;
  color: #ffffff;
  font-style: italic;
  text-transform: uppercase;
  cursor: pointer;
}
.title {
  font-size: 40px;
  line-height: 53px;
}
.subtitle {
  font-size: 27px;
  line-height: 37px;
  color: #e3b873;
}
.section-title {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 12px;
}
.section-title__subtitle {
  font-size: 18px;
  line-height: 25px;
}
.input {
  outline: none;
  font-size: 14px;
  line-height: 23px;
  border: none;
  border-bottom: 1px solid rgba(54, 54, 54, 0.3);
}
.label {
  font-size: 13px;
  line-height: 21px;
}
.container {
  max-width: 1171px;
  margin: auto;
}
/* HEADER================================================================== */
.header {
  background-color: #000;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}
.header-content {
  max-width: 1256px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 83px;
  align-items: center;
}
.header-logo__link {
  cursor: pointer;
  color: #e3b873;
}
.header-menu {
  display: flex;
}
.header-menu__item {
  margin-right: 47px;
}
.header-tel__link:hover {
  text-decoration-line: underline;
}
.header-button {
  width: 161px;
  height: 37px;
}
/* MAIN=================================================================== */
.main-picture {
  background-image: url(../images/picture.jpg);
  background-size: cover;
  max-width: 100%;
}
.main-picture__background {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 194px;
  padding-bottom: 208px;
  max-width: 100%;
}
.main-description {
  color: #ffffff;
}
.main-title {
  max-width: 520px;
  margin-bottom: 19px;
}
.main-title__item {
  color: #e3b873;
}
.main-text {
  font-size: 22px;
  line-height: 36px;
  max-width: 505px;
  margin-bottom: 41px;
}
.main-button {
  font-size: 11px;
  line-height: 15px;
  width: 207px;
  height: 51px;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}
.main-button:hover {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #ffffff;
}
.main-button__calculate {
  margin-right: 20px;
}
.main-slider {
  background-color: #131313;
  color: #ffffff;
  padding: 107px 0 416px;
}

.nav-slider {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 52px;
}
.main-slider__nav {
  display: flex;
  padding-left: 0;
  font-family: "Yeseva One";
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
}
.nav-item__link:hover {
  text-decoration-line: underline;
}
.nav-block {
  flex: 0 3 39%;
}
.nav-item {
  margin-right: 60px;
}
.main-slider__content {
  display: inline-block;
  position: absolute;
}
.main-slider__title {
  max-width: 253px;
  margin-bottom: 30px;
  letter-spacing: -0.07em;
}
.main-slider__text {
  max-width: 350px;
  font-size: 14px;
  line-height: 27px;
}
.slider-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.slider-information {
  display: flex;
  justify-content: space-between;
}
.information-item {
  margin-right: 34px;
}
.item-title {
  font-size: 18px;
  line-height: 25px;
}
.information-item__title {
  color: #e3b873;
  margin-bottom: 9px;
}
.information-item__time {
  margin-top: 34px;
}
.information-item__cost {
  margin-top: 53px;
}
.arrows {
  margin-top: 70px;
  display: flex;
  align-items: center;
}
.slider-point {
  width: 9.57px;
  height: 9.57px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-right: 17.54px;
  border-radius: 30px;
}
.slider-point:active {
  background-color: #ffffff;
}
.arrows-left {
  margin-right: 29.5px;
}
.arrows-riht {
  margin-left: 11.96px;
}
.slider-content__item {
  align-self: flex-end;
}
.slider-content__img {
  width: 100%;
  height: auto;
}